[submodule "Leido/vendor/spdlog"]
	path = Leido/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Leido/vendor/GLFW"]
	path = Leido/vendor/GLFW
	url = https://github.com/TheCherno/glfw
